<% include ./partials/header %>

<div class="container">
    <div class="row text-center">
        <h1>SIGN UP</h1>
        
        <div class="my_form">
            <form action="/register" method="POST">
                <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">SIGN UP</button>
                </div>
            </form>    
        </div>
    </div>
</div>


<% include ./partials/footer %>